{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

    </main>
</div>
